<%- include('./partials/header')%>

<form action="/signup" method="post" class="w-[30%] p-10 bg-stone-400 m-auto">
    <input type="text" name="name" placeholder="name" class="w-full p-2 mt-10">
    <input type="text" name="username" placeholder="username" class="w-full p-2 mt-10">
    <input type="email" name="email" placeholder="email" class="w-full p-2 mt-10">
    <input type="password" name="password" placeholder="password" class="w-full p-2 mt-10">
    <button class="w-full p-2 mt-10 bg-white">Sign Up</button>
</form>

<%- include('./partials/footer')%>